<%- include ('partials/_headerVistaDirec') %>

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8 m-5 card">
            <div class="card-body p-5">
                <h2 class="text-center">EDITAR DATOS ALUMNO</h2>
                <form action="/EditAlum/<%= data.id_alum %>" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name ="nom_alum" value="<%= data.nom_alum%>" id="" placeholder="Nombre">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name ="appat_alum" value="<%= data.appat_alum%>" id="" placeholder="Apellido paterno">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name ="apmat_alum" value="<%= data.apmat_alum%>" id="" placeholder="Apellido materno">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" name ="correo_alum" value="<%= data.correo_alum%>" id="" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="phone" class="form-control" name ="telefono_alum" value="<%= data.telefono_alum%>" id="" placeholder="Teléfono">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name ="grupo_alum" value="<%= data.grupo_alum%>" id="" placeholder="Grupo">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="matricula_alum" value="<%= data.matricula_alum%>" placeholder="Matrícula">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="pass_alum" value="<%= data.pass_alum%>" placeholder="Contraseña">
                        </div>
                    </div>
                        <button type="submit" class="btn-especial btn-block">Actualizar</button>                            
                </form>
            </div>
        </div>
    </div>
</div>
<%- include ('partials/_footerCopy') %>