<%if (logindirec===true) {%>
    <%- include ('../partials/_headerVistaDirec') %>
        <!-- POR TUTOR -->
        <div class="container mt-5 mb-5">
            <h3 class="text-center mt-5 pt-5" id="parent">VER TUTORES</h3>
            <div class="text-center mt-3">
                <div class="col-md-10 col-sm-12 m-auto">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>Nombre</td>
                                <td>Apellido</td>
                                <td>Hijo</td>
                                <td>Apellido Hijo</td>
                                <td>Teléfono</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (info) { %>
                                <% for(var i=0; i < info.length; i++) { %>
                                    <tr>
                                        <td><%= info[i].nom_tutor%></td>
                                        <td><%= info[i].appat_tutor%></td>
                                        <td><%= info[i].nom_alum%></td>
                                        <td><%= info[i].appat_alum%></td>
                                        <td><%= info[i].telefono_alum%></td>
                                        <td>
                                            <a href="/escuela/EditTut/<%= info[i].id_tutor %>"
                                                class="btn btn-success"><i class="fas fa-edit"></i></a>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <%- include ('../partials/_footerCopy') %>
            <%} else {%>
                <%-include('../partials/erroracceso')%>
                    <%}%>