<%if (logindirec===true) {%>
    <%- include ('../partials/_headerVistaDirec') %>
        <div class="container mt-5 pt-3 mb-5">
            <!-- VISUALIZAR PROFESORES -->
            <h3 class="text-center mt-5" id="teacher">LISTA PROFESORES</h3>
            <div class="col-md-10 col-sm-12 m-auto">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>RFC</td>
                            <td>Correo</td>
                            <td>Nombre</td>
                            <td>Apellido Paterno</td>
                            <td>Telefono</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (info) { %>
                            <% for(var i=0; i < info.length; i++) { %>
                                <tr>
                                    <td><%= info[i].rfc_prof%></td>
                                    <td><%= info[i].correo_prof%></td>
                                    <td><%= info[i].nom_prof%></td>
                                    <td><%= info[i].appat_prof%></td>
                                    <td><%= info[i].telefono_prof%></td>
                                    <td>
                                        <a href="/escuela/DeleteProf/<%= info[i].id_prof %>" class="btn btn-danger"><i
                                                class="fas fa-trash-alt"></i></a>
                                        <a href="/escuela/EditProf/<%= info[i].id_prof %>" class="btn btn-success"><i
                                                class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                <% } %>
                                    <% } %>
                    </tbody>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        <%- include ('../partials/_footerCopy') %>
            <%} else {%>
                <%-include('../partials/erroracceso')%>
                    <%}%>