<%if (logindirec===true) {%>
    <%- include ('../partials/_headerVistaDirec') %>
        <!-- POR TUTOR -->
        <div class="container mt-5 mb-5">
            <h3 class="text-center mt-5 pt-5" id="parent">VER TUTORES</h3>
            <div class="text-center mt-3">
                <p class="input-view-group">
                    <input type="text" placeholder="Nombre hijo" name="hijo" id="hijo" required>
                    <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
                </p>
                <div class="col-md-10 col-sm-12 m-auto">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>Nombre</td>
                                <td>Apellido</td>
                                <td>Hijo</td>
                                <td>Apellido Hijo</td>
                                <td>Teléfono</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (info) { %>
                                <% for(var i=0; i < info.length; i++) { %>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <a href="#" class="btn btn-info"><i class="fas fa-eye"></i></a>
                                            <a href="/escuela/DeleteAlum/<%= info[i].id_alum %>"
                                                class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                            <a href="/escuela/EditAlum/<%= info[i].id_alum %>"
                                                class="btn btn-success"><i class="fas fa-edit"></i></a>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <%- include ('../partials/_footerCopy') %>
            <%} else {%>
                <%-include('.. /partials/erroracceso')%>
                    <%}%>