<%if (loginalum === true) {%>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro Educativo Gandhi</title>
    <!-- ÃCONO -->
    <link rel="icon" href="/img/icon.png">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/vistaalum.css">
    <!-- BOOTSTRAP 5 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark navbar-color p-2"  style="background-color: #072f4e;" id="menu">
            <a class="navbar-brand" href="/">Centro Educativo Gandhi</a>
    </nav>
    <div class="container-lg">
        <div class="row mx-auto justify-content-center mb-3 pb-5 mt-3 pt-2">
            <div class="col-md-8 col-sm-12">
                <% if (info) { %>
                    <% for(var i = 0; i < info.length; i++) { %>
                <div class="card mt-5 mb-5 p-5">
                    <h3 class="text-center">ACCESO PERMITIDO</h3>
                    <p>
                    El acceso le fue permitido al alumno <b><%= info[i].nom_alum%> <%= info[i].appat_alum%> <%= info[i].apmat_alum%></b>
                    con base a sus respuestas en el cuestionario de entrada contestado <b><%= info[i].fecha_enc%>.</b>
                    </p>
                    <div class="row justify-content-center">
                        <h1 class="text-center check-icon">
                            <i class="fas fa-check text-light"></i>
                        </h1>
                    </div>
                </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
    <%- include ('../partials/_footerCopy') %>
<%}%>
