<%if (loginalum === true) {%>
    <%- include ('../partials/_headerVistaAlum') %>
    <!-- QR -->
    <div class="container-xl">
        <div class="col-md-6 col-sm-12 mx-auto mt-3 mb-3 pt-3 pb-1">
            <div class="row justify-content-center">
                <h3 class="text-center mt-3"><%= data.nom_alum %> <%= data.appat_alum %> </h3>
            </div>
            <div class="row justify-content-center">
                <img src="<%=qr_code%>" alt="" height="330px" width="330px">
            </div>
            <div class="row justify-content-center mb-4">
                <a href="/VistaAlumn" class="btn-link-principal p-2 text-center">REGRESAR A INICIO</a>
                <button class="botonredondo ml-2"><i class="fas fa-share-alt"></i></button>
            </div>
        </div>
    </div>
    <%- include ('../partials/_footerCopy') %>
<%} else {%>
    <%- include ('../partials/erroracceso') %>
<%}%>
