<%if (login === true) {%>
    <%- include ('../partials/_headerVistaAlum') %>
        <!-- BODY -->
        <div class="row m-2 justify-content-center">
            <div class="col-md-6 col-sm-12" id="contact">
                <div class="card p-1 mt-1 mb-1">
                    <div class="card-body">
                        <h3 class="text-center"><b>DATOS ALUMNO</b></h3>
                        <form action="/EditarAlumn/<%= data.id_alum %>" method="POST">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nommbre"><i class="fas fa-user"></i> Nombre:</label>
                                    <input type="text" class="form-control" value="<%= data.nom_alum%>" name ="nom_alum" id="nombre" placeholder="Nombre">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="appat"><i class="fas fa-user"></i> Apellido Paterno:</label>
                                    <input type="text" class="form-control" value="<%= data.appat_alum%>" name ="appat_alum" id="appat" placeholder="Apellido paterno">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="apmat"><i class="fas fa-user"></i> Apellido Materno:</label>
                                    <input type="text" class="form-control" value="<%= data.apmat_alum%>" name ="apmat_alum" id="apmat" placeholder="Apellido materno">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="email"><i class="fas fa-at"></i> Coreo electónico:</label>
                                    <input type="email" class="form-control" value="<%= data.correo_alum%>" name ="correo_alum" id="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="grupo"><i class="fas fa-users"></i> Grupo:</label>
                                    <input type="text" class="form-control" value="<%= data.grupo_alum%>" name ="grupo_alum" id="grupo" placeholder="Grupo">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="telefono"><i class="fas fa-phone"></i> Teléfono:</label>
                                    <input type="phone" class="form-control" value="<%= data.telefono_alum%>" name ="telefono_alum" id="telefono" placeholder="Teléfono">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="matricula"><i class="fas fa-id-card-alt"></i> Matrícula:</label>
                                    <input type="text" class="form-control" value="<%= data.matricula_alum%>" name="matricula_alum" id="matricula" placeholder="Matrícula">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="contraseña"><i class="fas fa-key"></i> Contraseña:</label>
                                    <input type="password" class="form-control" value="<%= data.pass_alum%>" name="pass_alum" id="contraseña" placeholder="Contraseña">
                                </div>
                            </div>
                            <div class="form-group col-md-4 mx-auto">
                                <button class="btn-link-principal p-2">GUARDAR CAMBIOS</button>
                            </div>                          
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <%- include ('../partials/_footerCopy') %>
<%} else {%>
    <%- include ('../partials/erroracceso') %>
<%}%>