<%if (loginalum === true) {%>
    <%- include ('../partials/_headerVistaAlum') %>
        <!-- BODY -->
        <div class="container-xl">
            <div class="row mt-1 pt-1 mb-5 pb-5 mx-auto justify-content-center">
                <div class="col-md-8 col-sm-12 mt-2 pt-3 mb-1 pb-1">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <img src="../img/vistauser.png" width="200" height="200" alt="">
                            </div>
                            <h3 class="text-center">Bienvenido/a de nuevo <%= data.nom_alum %></h3>
                            <div class="d-grid gap-2 col-8 mx-auto mt-5">
                                <a href="/Cuestionario/<%= data.id_alum %>" type="button" class="btn-link-principal btn-block p-3">CONTESTAR CUESTIONARIO</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%- include ('../partials/_footerCopy') %>
<%} else {%>
    <%- include ('../partials/erroracceso') %>
<%}%>